/*####################################################
  ####################  NAV BAR ######################
  ####################################################*/

.navbar-brand img {
  height: 40px;
  margin-top: -10px;
}

.navbar-default {
  background-color: #0c5002;
  font-weight: bold;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a {
  color: #fff;
  background-color: #5ea700;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.navbar-default .navbar-nav li a:hover {
  background: #fff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#navAdmin{
  opacity: 0;
}

/*####################################################
  ###################  SERVICIOS #####################
  ####################################################*/

table
{
  margin-top: 20px;
  border: 3px solid #5ea700;
  border-radius: 5px;
  background: linear-gradient(to right, #dddddd, #ffffff, #dddddd);
}

thead tr td
{
  border-bottom: 2px solid #326000;
  color:green;
  width: 200px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

tbody tr td
{
  margin-bottom: -10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #326000;
}

tfoot tr td
{
  text-align: center;
}

.imgtabla
{
  border: 2px solid #326000;
  border-radius: 10px;
  width: 55%;
}


/*####################################################
  ###################  PORTFOLIO #####################
  ####################################################*/

  .portfolio ul li img
  {
    width: 250px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 5px;
   /*  float: left;*/
  }

  .portfolio ul li
  {
    margin-left: 0px;
    list-style: none;
    float: left;
  }



  .portfolio h2 {
    color: #fff;
    text-align: center;
  }


/*####################################################
  ####################  CONTACTO #####################
  ####################################################*/

.formcontacto2 a {
  text-decoration: none;
  color: white;
  background: #0c5002;
  padding: 10px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.formcontacto2 .btn-default {
  background-color: #0c5002;
  font-size: 38px;
  color: white;
  padding-top: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-bottom: 25px;
  margin-top: 17.2px;
}

.formcontacto2 p {
  color: #d6d6d6;
  font-size: 18px;
}

@media (min-width: 360px) {
  .formcontacto h3{
    font-size: 180%;
    color: #282828;
    font-family: 'arial';
  }
  .formcontacto {
  background-color: white;
  text-align: center;
  }
  .formcontacto .btn-send {
    background-color: #0c5002;
    color: #fff;;
    width: 200px;
    font-weight: 600;
  }
  .formcontacto2 {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 0;
  color: #fff;
  }
}

@media (min-width: 760px) {

.googlemap {
margin-top: -10px;
height: 705px;
}

.formcontacto {
background-color: white;
text-align: center;
margin-top: 0px;
}

.formcontacto2 {
background-color: rgba(0, 0, 0, 0.7);
text-align: center;
margin-top: 0px;
color: #fff;
}

}

@media (min-width: 990px) {

.googlemap {
margin-top: -10px;
height: 705px;
}

.formcontacto {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
margin-top: -660px;
}

.formcontacto2 {
background-color: rgba(0, 0, 0, 0.7);
text-align: center;
margin-top: -660px;
color: #fff;
}

}


/*####################################################
  ####################  HOME #########################
  ####################################################*/

#bodyhome {
  background-color: #0c5002;
}

.carousel {
  border: 2px solid white;
}

.texthome  {
  margin-top: 70px;
  color: white;
  text-align: right;
  line-height: 2;
}

.texthome h4 {
  letter-spacing: 3px;
  color: #acacac;
}

.texthome h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 50px;
}

.texthome a {
  margin-top: 50px;
  margin-left: 40px;
  background-color: #0c5002;
  font-size: 40px;
  color: #121212;
  text-decoration: none;
}

.imghome {
  margin-top: 45px;
}

.imghome>img {
  border-radius: 10px;
  border: 2px solid #fff;
}

.imgworks {
 margin-left: 40px;
 margin-top: 40px;
 width: 33.8%;
 display: inline-block;
}

/*####################################################
  #################  FULL NOTICIA ####################
  ####################################################*/

.fullNew {
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  border: 3px solid black;
  line-height: 2;
}

.fullNew h6 {
  text-align: right;
  color: darkgreen;
  font-weight: bold;
}

.fullNew img {
  margin-top: 30px;
  width: 85%;
  border-radius: 10px;
}

.imgsNoticia {
  width: 100%;
  margin: 20px;
}

/*####################################################
  ############## TODAS LAS NOTICIAS ##################
  ####################################################*/

.allNews {
  margin-bottom: 20px;
}

.allNews button{
  background-color: white;
  border: 0px solid black;
  color: #004507;
  font-weight: bold;
}

.allNews img {
   width: 75%;
}

.allNews h6 {
  color: #004507;
  text-align: right;
}

.allNews h6, .allNews h3 {
  font-weight: bold;
}

.individualNew {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
}

/*####################################################
  #################  NOTICIAS ADM ####################
  ####################################################*/

#contadmin img {
  width: 100%;
}

#imagesToUpload2{
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.admNews {
  margin-top: 50px; margin-right: 1px;
}

.admNews img {
   width:100%;
}

.admNews h6, .admNews h3 {
  font-weight: bold;
}

.admNews li {
  background-color: #ecf2ed;
}

.admNews button{
  background-color: #ecf2ed;
  border: 0px solid black;
  color: #004507;
  font-weight: bold;
}

.admNews h6 {
  color: #004507;
  text-align: right;
}

.admNews button:hover {
  color: #ffffff;
}

.panelAdmin {
  background-color: #ecf2ed;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 4px;
}

.panelAdmin form
{
  margin-top: 30px;
  text-align:center;
}

#listacategorias {
background-color: white;
margin-left: 10px;
margin-top: 10px;
border-radius:5px;
}

/*####################################################
  #################  JUEGO DADOS #####################
  ####################################################*/

.dados h3, .dados h1 {
  color: white;
}

/*####################################################
  #################  EFECTOS CSS3 ####################
  ####################################################*/

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.9);
  color: white;
  z-index: 10;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  z-index: 9;
}

.fadeIn {
  animation: fadein 1.5s;
-moz-animation: fadein 2.2s; /* Firefox */
-webkit-animation: fadein 2.2s; /* Safari and Chrome */
-o-animation: fadein 2.2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
